<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{title}}!</h1>
</div>
<ngb-alert [dismissible]="false" type="info">
    List Of Users
</ngb-alert>
<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr class="success">
		<th>Id</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	<tr *ngFor="let result of results">
		<td>{{ result.id }}</td>
		<td>{{ result.firstName }}</td>
		<td>{{ result.lastName }}</td>
	</tr>
</table>
</div>